/* Coolors Exported Palette - coolors.co/550527-688e26-2f4858-f6ae2d-f26419 */

/* HSL */
$color1: hsla(335%, 89%, 18%, 1);
$color2: hsla(82%, 58%, 35%, 1);
$color3: hsla(203%, 30%, 26%, 1);
$color4: hsla(39%, 92%, 57%, 1);
$color5: hsla(21%, 89%, 52%, 1);

/* RGB */
$color1: rgba(85, 5, 39, 1);
$color2: rgba(104, 142, 38, 1);
$color3: rgba(47, 72, 88, 1);
$color4: rgba(246, 174, 45, 1);
$color5: rgba(242, 100, 25, 1);